/* SETTAGGI PRELIMINARI */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
    border: 1px solid red;
}

img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}


.clearflex::after{
    content: "";
    display: table;
    clear: both;
}



/* ----------SETTAGGI EPROSNALIZZATI------------ */

.header{
    text-align: center;
}

.card{
    min-width: 180px;
    float: left;
    border: 2px solid blue;
    width: calc(100% / 3);
}

.pic_profilo{
    border: 2px solid orange;
    width: 30%;
    float: left;
}

.testo{
    float: right;
    width: 70%;
}
