/* SETTAGGI PRELIMINARI */

*{
    margin: none;
    padding: none;
    border: 1 solid red;    
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


.container{
    max-width: 900px;
    margin: 0 auto;
    border: 1 solid red;
}


.clearflex::after{
    content: "";
    display: table;
    clear: both;
}



/* ----------SETTAGGI EPROSNALIZZATI------------ */

