/* SETTAGGI PRELIMINARI */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}

img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}


.clearflex::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    color: red;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}

h2{
    font-size: 18px;
    font-variant: small-caps;
}

p{
    margin: 4px 0;
}



/* ----------SETTAGGI EPROSNALIZZATI------------ */

.header{
    margin: 24px 0px;
    text-align: center;
}

.card{
    max-height: 80px;
    min-width: 180px;
    float: left;
    background-color: rgb(0, 0, 60);
    width: 30%;
    margin-right: 5%;
    margin-bottom: 24px;
    color: white;
    box-shadow: 2px 2px 10px #282828; 
}

.card address{
    color: aqua;
    font-size: 12px;
}

.card p{
    font-size: 14px;
}

.row.clearflex > :nth-child(3n+3){
    margin-right: 0px;
}

.pic_profilo{
    max-width: 30%;
    float: left;
}

.testo{
    float: right;
    /* totale 70% */
    width: 67%;
    padding: 3%;
    /* totale 70% */
}
